* {
  margin: 0;
  padding: 0;
box-sizing: border-box;
}

 html,body {
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Trispace', sans-serif;
    height: 100%;
    width: 100%;
    background: #000;
    /* overflow: hidden; */

 }

#main{
    width: 100%;
    background-image: url("assets/imgb4.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

 #navbar{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-image: url("assets/imgb4.svg");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    z-index: 100000;

}


#navbar #left{
    display: flex;
    justify-content: space-around;
    gap: 0.5vw;
    margin-left: 3vw;
    align-items: center;
    padding: 0 1vw;
}
#navbar #left img{
    height: 50px;
}

#navbar #left #imgProfile{
    border-radius: 50%;
}
#navbar #right{
    display: flex;
    justify-content: space-evenly;
    gap: 2.5vw;
    padding: 1vw ;
    margin-right: 3vw;
    
}

#navbar #right a{
    text-decoration: none;
    padding: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

 
}

 #navbar #right #iconhamburger{
   color: #fff;
   display: none;
}

#navbar #right a:hover{
    box-shadow: 0 0 8px 2px white;
    scale: 1.2;

}
.page1{
    height:calc(100vh - 60px);
    width: 100%;
    display: flex;
    
}
.page1 #left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page1 #right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page1 #right #picture{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    /* overflow: hidden; */
    /* background: linear-gradient(45deg,#0ce39a,#69007f,#fc0987); */
}
.page1 #right img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all ease 0.5s;
    border: 2px solid aqua;
    
}

.page1 #right #picture::before{
    content: " ";
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    position: absolute;
    filter: blur(50px);
    background: linear-gradient(90deg,#0ce39a,#137e8f);
    border-radius: 50%;
    top: 0;
    left: 0;
    z-index: -1;
}
.page1 #right #picture img:hover{
    box-shadow: 0 0 50px 20px rgba(245, 245, 247, 0.5);
    cursor: pointer;
    scale: 1.1;  
}

.page1 #left #intro{
    margin-left: 3vw;
    
}

.page1 #left #intro h2{
    width: fit-content;
    font-size: 3vw;
    font-weight: 100;
    color: #fff;
    transition: all ease 0.5s;
    
}

.page1 #left #intro h1{
    width: fit-content;
    font-size: 4vw;
    color:lightseagreen;
    transition: all ease 0.5s;
}

.page1 #left #intro p{
    margin-top: 1vw;
    color: #fff;
    font-size: 1vw;
}

.page1 #left #intro h1:hover{
    scale: 1.05;
    cursor: pointer;
    text-shadow: 2px 2px 50px white;
}
.page1 #left #intro :nth-child(1):hover{
    scale: 1.05;
    cursor: pointer;
}



.page1 #left #intro :nth-child(3):hover{
    scale: 1.05;
    cursor: pointer;
}
.page1 #left #connect{
    margin-left: 3vw;
    margin-top: 2vw;
    display: flex;
    gap: 2vw;
}

.page1 #left #connect a{
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page1 #left #connect a img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;  
}

.page1 #left #connect a:hover {
    scale: 1.1;
    box-shadow: 0 0 8px 2px white;
}

    /* -----------------------page2-------------------------------  */

.page2{
    height: 100vh;
    width:100%;
    display: flex; 
    flex-direction: row;

}
.page2 #hleft{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page2 #hright{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 #hright #content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

}
.page2 #hright #content p{
    text-align: center;
    font-size: 1.5vw;
    color: white;
    padding: 1vw;
    line-height: 1.5;
}

.page2 #hright #content p span{
    color: lightseagreen;
    display: inline-block;
    transition: all ease 0.5s;
}

.page2 #hright #content h1{
    color: white;
    font-size: 3vw;
    border-bottom: 1px solid #dadada;
    transition: all ease 0.5s;
}

.page2 #hright #content h1:hover{
    scale: 1.05;
    cursor: pointer;
    text-shadow: 2px 2px 50px white;
}

.page2 #hright #content p span:hover{
    scale: 1.05;
    cursor: pointer;
    text-shadow: 2px 2px 50px white;
}

.page2 #hleft #imgcontainer{
    width: 40vw;
    height: 35vw;
    border-radius: 30%;
    box-shadow:2px 3px 10px #ffff;
    overflow: hidden;
}
.page2 #hleft #imgcontainer img{ 
    width: 100%;
    height: 100%;
    border-radius: 30%;
    transition: all ease 0.5s;

}

.page2 #hleft #imgcontainer img:hover{
    scale: 1.1;
    cursor: pointer;
}
/* ********************************* for mobile users ********************************************** */
@media (max-width:600px){

    #navbar{
        height: 60px;
    }
    #navbar #right{
       position: absolute;
       right: 0;
       gap: 4vw;
    }
    #navbar #right a{
        font-size: 3vw;
        gap: 0.5vw; display: none;
      
    }
    #navbar #right #iconhamburger{
        color: #fff;
        display:block;
        font-size: 7vw;
        
     }
     .page1{
        flex-direction: column-reverse;
     }
     .page1 #right{
        height: 40%;
        width: 100%;
        margin-top: 0;
        overflow: hidden;
    
     }

     .page1 #left{
        height: 60%;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
     }
     .page1 #right #picture{
        width: 60vw;
        height: 60vw;
        margin-top: 10vw;
     }

     .page1 #left #intro{
       padding-left: 3vw;
       margin-left: 0;
       margin-top: 10vw;
      
     }
     .page1 #left #intro h2{
        font-size: 5.5vw;
        font-weight: 500;
        
    }
    
    .page1 #left #intro h1{
        font-size: 7.5vw;
        margin-left: 35%;
        margin-top: 3%;
        margin-bottom: 3%;
        
    }
    .page1 #left #intro p{
        font-size: 4vw;
        margin-top: 5vw;

    }
    .page1 #left #connect {
        gap: 3vw;
    }
    .page1 #left #connect a img{
        height: 15vw;
        width: 15vw;
        border: 1px solid wheat;
        border-radius: 50%; 
    }

    /* -----------------------page2-------------------------------  */
    .page2{
        flex-direction: column;
    }
    .page2 #hleft{
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .page2 #hright{
        width: 100%;
        height: 50%;
        overflow: hidden;
    }
    .page2 #hright #content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    
    }
    .page2 #hright #content p{
        font-size: large;
        padding: 0 1vw;
    }
    
    .page2 #hright #content p span{
        line-height:1.5;
    }
    
    .page2 #hright #content h1{
        font-size: xx-large;
        margin-bottom: 3vw;
    }

    .page2 #hleft #imgcontainer{
        width: 90%;
        height: 90%;
    }
}